<section class="auth">
<div class="container">
    <div class="row vh-100 align-items-center justify-content-center "  >
        <div class="col-md-8">
            <div class="auth-card">
                <div class="text-center">
                    <img class="w-50" src="../../../../assets/images/logo.svg" alt="">
                </div>
                <h1>Reset Password</h1>
                <p>Welcom back please enteryour details </p>
                <form  [formGroup]="resetCode" (ngSubmit)="onReset(resetCode)">
             
                    <div class="input-group mb-3 ">
                        <span class="input-group-text " id="basic-addon1">
                <i class="fa-solid fa-mobile-screen-button"></i>
                <input  formControlName="email" type="text" class="form-control " placeholder="email">
                        </span>
                
                    </div>
                
                    <div class="input-group mb-3">
                        <span class="input-group-text " id="basic-addon1">
                <i class="fa-solid fa-lock"></i>
                <input formControlName="seed" type="text" class="form-control" placeholder="OTP">
                        </span>
                
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text " id="basic-addon1">
                <i class="fa-solid fa-lock"></i>
                <input formControlName="password" type="password" class="form-control" placeholder="password">
                        </span>
                
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text " id="basic-addon1">
                <i class="fa-solid fa-lock"></i>
                <input formControlName="confirmPassword" type="password" class="form-control" placeholder="confirmPassword">
                        </span>
                
                    </div>






                   
         <button class="w-100 primary" type="submit">Reset Password</button>
         <p>{{msg}}</p>
                </form>
            </div>
        </div>
    </div>
</div>
</section>