<section class="auth">
  <div class="container">
    <div class="row vh-100 align-items-center justify-content-center">
      <div class="col-md-8">
        <div class="auth-card">
          <div class="auth-img w-50 mx-auto">
            <img class="w-75" src="../../assets/images/logo.svg " alt="" />
          </div>
          <h1>Log in</h1>
          <p>Welcome Back! Please enter your details</p>

          <form (ngSubmit)="handelLogin(loginForm)" [formGroup]="loginForm">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"
                ><i class="fa-solid fa-mobile-screen"></i
              ></span>

              <input
                formControlName="email"
                type="text"
                class="form-control"
                placeholder="Enter Your Email"
                aria-label="Username"
                aria-describedby="basic-addon1"
                id="email"
              />
            </div>
            <div
              *ngIf="
                loginForm.get('email')?.errors &&
                loginForm.get('email')?.touched
              "
              class="errorMsg alert alert-danger"
            >
              <p *ngIf="loginForm.get('email')?.getError('email')" class="m-0">
                email is invalid
              </p>

              <p
                *ngIf="loginForm.get('email')?.getError('required')"
                class="m-0"
              >
                email is required
              </p>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"
                ><i class="fa-solid fa-lock"></i
              ></span>
              <input
                formControlName="password"
                type="password"
                class="form-control"
                placeholder="Password"
                aria-label="Username"
                aria-describedby="basic-addon1"
                id="password"
              />
            </div>
            <div
              *ngIf="
                loginForm.get('password')?.errors &&
                loginForm.get('password')?.touched
              "
              class="errorMsg alert alert-danger"
            >
              <p
                *ngIf="loginForm.get('password')?.getError('required')"
                class="m-0"
              >
                password is required
              </p>
            </div>
            <div class="links">
              <a routerLink="/register" class="t-dark" href="">Register Now?</a>
              <a routerLink="/forget" class="t-main"  >Forget Password?</a>
            </div>
            <button
              [disabled]="loginForm.invalid"
              type="submit"
              class="primary w-100"
            >
              <i *ngIf="isLoading" class="fas fa-spinner fa-spin bg-danger"></i>
              <span *ngIf="!isLoading">Login</span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
