<div class="page-title">

  <div class="row align-items-center px-2 ">
    <div class="col-md-8">
<div>
<h1>Welcome  <span>{{user}}</span>
</h1>
<p>This is a welcoming screen for the entry of the application , you can now see the options</p>
</div>
    </div>
    <div class="col-md-4 text-end">
<div>
<img src="../../../assets/images/Group 48102127.svg" class="w-50" alt="">
</div>
    </div>
  </div>
</div>

<div>
<div class="d-flex align-items-center  justify-content-between mt-2">
<h2   class="h4">Fill The <span>Recipes</span> !</h2>
<button  class="primary" >Fill Recipes</button>
</div>
<p>You can now fill the meals easily using the table and form ,check here and sill it with the table !</p>
