<section>
    <div class="container">
        <div class="row align-items-center justify-content-center vh-100 ">
            <div class="col-md-8">
<div class="auth-card">
    <div class="text-center">
        <img class="w-100" src="
        ../../../../../../assets/images/logo.svg" alt="">
    </div>
    <h1>forget your password</h1>
    <p>No worries! Please enter your email and we will send a password reset link</p>
    <form (ngSubmit)="onForget()" [formGroup]="forgetForm">
    
    <div class="input-group mb-3">
        <span class="input-group-text " id="basic-addon1">
<i class="fa-solid fa-mobile-screen-button"></i>
<input formControlName="email" type="text" class="form-control" placeholder="email">
        </span>

    </div>
    <button type="submit" class="primary w-100 ">
        submit
    </button>
    <p>{{message}}</p>
    </form>
</div>
            </div>
        </div>
    </div>
</section>