<section>
  <div class="container">
    <form [formGroup]="addRecipeForm" (ngSubmit)="sendData(addRecipeForm)">
      <div class="row">
        <div class="col-md-12">
          <input formControlName="name" class="form-control" type="text" placeholder="name">
        </div>
        <div class="col-md-12">
          <input formControlName="price" class="form-control" type="text" placeholder="price">
        </div>


        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Tag</mat-label>
            <mat-select formControlName="tagId">

              <mat-option *ngFor="let tag of listTags" [value]="tag.id">{{tag.name}}</mat-option>

            </mat-select>
          </mat-form-field>

        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>category</mat-label>
            <mat-select multiple="" formControlName="categoriesIds">
           
              <mat-option *ngFor="let item of listCategories.data" [value]="item.id">{{item.name}}</mat-option>


            </mat-select>
          </mat-form-field>



        </div>
        <div class="col-md-12">
          <textarea formControlName="description" class="form-control" type="text">
        </textarea>
        </div>
        <ngx-dropzone (change)="onSelect($event)" [multiple]="false">
          <ngx-dropzone-label *ngIf="!imgSrc">Drag and Drop image <span class="text-success fw-bold">Choose image
            </span>to upload</ngx-dropzone-label>
          <ngx-dropzone-label *ngIf="imgSrc">
            <img [src]="imgSrc" alt="" class="w-25">
          </ngx-dropzone-label>
          <ngx-dropzone-image-preview [removable]="true" (removed)="onRemove(f)" ngProjectAs="ngx-dropzone-preview"
            *ngFor="let f of files" [file]="f">
          </ngx-dropzone-image-preview>
        </ngx-dropzone>
      </div>
      <div>
        <button type="submit" class="primary">
          Save
        </button>
      </div>
    </form>

  </div>
</section>